<!-- wp:template-part {"slug":"header"} /-->

<!-- wp:spacer -->
<div style="height:100px" aria-hidden="true" class="wp-block-spacer"></div>
<!-- /wp:spacer -->

<!-- wp:columns -->
<div class="wp-block-columns"><!-- wp:column -->
<div class="wp-block-column"></div>
<!-- /wp:column -->

<!-- wp:column {"width":"1000px","layout":{"type":"default"}} -->
<div class="wp-block-column" style="flex-basis:1000px"><!-- wp:heading {"textAlign":"center","level":1,"style":{"typography":{"fontSize":"52px"}}} -->
<h1 class="wp-block-heading has-text-align-center" style="font-size:52px">cmtHumanized<br><strong>Where Science Meets Story</strong></h1>
<!-- /wp:heading --></div>
<!-- /wp:column -->

<!-- wp:column -->
<div class="wp-block-column"></div>
<!-- /wp:column --></div>
<!-- /wp:columns -->

<!-- wp:columns -->
<div class="wp-block-columns"><!-- wp:column -->
<div class="wp-block-column"></div>
<!-- /wp:column -->

<!-- wp:column {"width":"750px"} -->
<div class="wp-block-column" style="flex-basis:750px"><!-- wp:separator {"className":"is-style-wide","style":{"color":{"background":"#f68b1f"}}} -->
<hr class="wp-block-separator has-text-color has-alpha-channel-opacity has-background is-style-wide" style="background-color:#f68b1f;color:#f68b1f"/>
<!-- /wp:separator --></div>
<!-- /wp:column -->

<!-- wp:column -->
<div class="wp-block-column"></div>
<!-- /wp:column --></div>
<!-- /wp:columns -->

<!-- wp:columns -->
<div class="wp-block-columns"><!-- wp:column -->
<div class="wp-block-column"></div>
<!-- /wp:column -->

<!-- wp:column {"width":"750px"} -->
<div class="wp-block-column" style="flex-basis:750px"><!-- wp:paragraph {"align":"center"} -->
<p class="has-text-align-center"><em>cmtHumanized</em> is a space for lived experiences, personal reflections, and honest conversations about life with CMT. From everyday challenges to moments of resilience, this blog brings the human side of Charcot-Marie-Tooth disease into focus.</p>
<!-- /wp:paragraph --></div>
<!-- /wp:column -->

<!-- wp:column -->
<div class="wp-block-column"></div>
<!-- /wp:column --></div>
<!-- /wp:columns -->

<!-- wp:spacer -->
<div style="height:100px" aria-hidden="true" class="wp-block-spacer"></div>
<!-- /wp:spacer -->

<!-- wp:columns -->
<div class="wp-block-columns"><!-- wp:column {"width":"750px"} -->
<div class="wp-block-column" style="flex-basis:750px"></div>
<!-- /wp:column -->

<!-- wp:column {"width":"250px"} -->
<div class="wp-block-column" style="flex-basis:250px"><!-- wp:wp-grid-builder/facet {"align":"center","grid":"wpgb-content-block/d7e4f6f9ea2645a4ba2e18f3ca786119","style":2,"id":24} /--></div>
<!-- /wp:column -->

<!-- wp:column {"width":"250px"} -->
<div class="wp-block-column" style="flex-basis:250px"><!-- wp:wp-grid-builder/facet {"grid":"wpgb-content-block/d7e4f6f9ea2645a4ba2e18f3ca786119","style":2,"id":25} /--></div>
<!-- /wp:column --></div>
<!-- /wp:columns -->

<!-- wp:query {"queryId":92,"query":{"perPage":10,"pages":0,"offset":0,"postType":"post","order":"desc","orderBy":"date","author":"","search":"","exclude":[],"sticky":"exclude","inherit":false},"metadata":{"wpgb":"wpgb-content-block/d7e4f6f9ea2645a4ba2e18f3ca786119"},"layout":{"type":"constrained"}} -->
<div class="wp-block-query"><!-- wp:post-template {"align":"wide","layout":{"type":"default"},"boldblocks":{"grid":{"columns":{"lg":{"value":"repeat(3, minmax(0, 1fr))","inherit":null},"md":{"inherit":"lg"},"sm":{"inherit":null}},"gap":{"lg":{"value":{"row":"2rem","column":"2rem"},"inherit":null},"md":{"value":{"row":"1.5rem","column":"1.5rem"},"inherit":null},"sm":{"inherit":"lg"}}},"layout":{"type":"responsiveGrid"}}} -->
<!-- wp:group {"style":{"border":{"radius":"8px","style":"none","width":"0px"},"spacing":{"blockGap":"16px"},"dimensions":{"minHeight":"550px"},"shadow":"var:preset|shadow|natural"},"backgroundColor":"base","layout":{"type":"constrained"},"boldblocks":{"withShadow":[],"withTransform":[],"withTransition":[],"withIcon":[],"withColor":[],"withTextShadow":[]}} -->
<div class="wp-block-group has-base-background-color has-background" style="border-style:none;border-width:0px;border-radius:8px;min-height:550px;box-shadow:var(--wp--preset--shadow--natural)"><!-- wp:post-featured-image {"isLink":true,"aspectRatio":"16/9","linkTarget":"_blank","style":{"border":{"radius":{"topLeft":"8px","topRight":"8px"}}}} /-->

<!-- wp:group {"style":{"spacing":{"padding":{"top":"16px","bottom":"16px","left":"16px","right":"16px"},"blockGap":"16px"}},"layout":{"type":"constrained"}} -->
<div class="wp-block-group" style="padding-top:16px;padding-right:16px;padding-bottom:16px;padding-left:16px"><!-- wp:post-title {"isLink":true,"linkTarget":"_blank","style":{"spacing":{"margin":{"top":"0px","bottom":"0px"}}},"fontSize":"large"} /-->

<!-- wp:post-date {"metadata":{"bindings":{"datetime":{"source":"core/post-data","args":{"key":"date"}}}}} /-->

<!-- wp:post-excerpt {"moreText":"Read More","excerptLength":15} /--></div>
<!-- /wp:group --></div>
<!-- /wp:group -->

<!-- wp:stackable/spacer {"uniqueId":"9153938","height":100} -->
<div class="wp-block-stackable-spacer stk-block-spacer stk--no-padding stk-block stk-9153938" data-block-id="9153938"><style>.stk-9153938 {height:100px !important;}</style></div>
<!-- /wp:stackable/spacer -->
<!-- /wp:post-template -->

<!-- wp:query-pagination -->
<!-- wp:query-pagination-previous /-->

<!-- wp:query-pagination-numbers /-->

<!-- wp:query-pagination-next /-->
<!-- /wp:query-pagination --></div>
<!-- /wp:query -->

<!-- wp:spacer -->
<div style="height:100px" aria-hidden="true" class="wp-block-spacer"></div>
<!-- /wp:spacer -->

<!-- wp:template-part {"slug":"footer"} /-->