<!-- wp:group {"tagName":"header","className":"site-header","layout":{"type":"constrained"}} -->
<header class="wp-block-group site-header"><!-- wp:spacer {"height":"10px"} -->
<div style="height:10px" aria-hidden="true" class="wp-block-spacer"></div>
<!-- /wp:spacer -->

<!-- wp:stackable/columns {"uniqueId":"4a65635"} -->
<div class="wp-block-stackable-columns stk-block-columns stk-block stk-4a65635" data-block-id="4a65635"><div class="stk-row stk-inner-blocks stk-block-content stk-content-align stk-4a65635-column"><!-- wp:stackable/column {"uniqueId":"d16d891","columnWidth":70.900000000000006,"columnAdjacentCount":2} -->
<div class="wp-block-stackable-column stk-block-column stk-column stk-block stk-d16d891" data-v="4" data-block-id="d16d891"><style>@media screen and (min-width: 768px){.stk-d16d891 {flex:var(--stk-flex-grow, 1) 1 calc(70.9% - var(--stk-column-gap, 0px) * 1 / 2 ) !important;}}</style><div class="stk-column-wrapper stk-block-column__content stk-container stk-d16d891-container stk--no-background stk--no-padding"><div class="stk-block-content stk-inner-blocks stk-d16d891-inner-blocks"><!-- wp:navigation {"ref":2095,"openSubmenusOnClick":true,"style":{"typography":{"textTransform":"none","letterSpacing":"0"}},"layout":{"type":"flex","justifyContent":"space-between"}} /--></div></div></div>
<!-- /wp:stackable/column -->

<!-- wp:stackable/column {"uniqueId":"eaa6883","columnWidth":29.100000000000001,"columnAdjacentCount":2} -->
<div class="wp-block-stackable-column stk-block-column stk-column stk-block stk-eaa6883" data-v="4" data-block-id="eaa6883"><style>@media screen and (min-width: 768px){.stk-eaa6883 {flex:var(--stk-flex-grow, 1) 1 calc(29.1% - var(--stk-column-gap, 0px) * 1 / 2 ) !important;}}</style><div class="stk-column-wrapper stk-block-column__content stk-container stk-eaa6883-container stk--no-background stk--no-padding"><div class="stk-block-content stk-inner-blocks stk-eaa6883-inner-blocks"><!-- wp:search {"label":"Search","showLabel":false,"placeholder":"Search...","buttonText":"Go","className":"header-search","style":{"spacing":{"margin":{"top":"0"}}}} /--></div></div></div>
<!-- /wp:stackable/column --></div></div>
<!-- /wp:stackable/columns -->

<!-- wp:shortcode -->
[hero_home]
<!-- /wp:shortcode -->

<!-- wp:layout/header-banner {"name":"layout/header-banner","mode":"preview"} /--></header>
<!-- /wp:group -->

<!-- wp:group {"tagName":"main"} -->
<main class="wp-block-group"><!-- wp:post-content {"layout":{"inherit":true}} /--></main>
<!-- /wp:group -->