<!-- wp:template-part {"slug":"header"} /-->

<!-- wp:group {"tagName":"main","style":{"spacing":{"margin":{"top":"var:preset|spacing|60"}}},"layout":{"type":"constrained"}} -->
<main class="wp-block-group" style="margin-top:var(--wp--preset--spacing--60)"><!-- wp:stackable/columns {"uniqueId":"5a66ee8"} -->
<div class="wp-block-stackable-columns stk-block-columns stk-block stk-5a66ee8" id="results" data-block-id="5a66ee8"><div class="stk-row stk-inner-blocks stk-block-content stk-content-align stk-5a66ee8-column"><!-- wp:stackable/column {"uniqueId":"7243506","columnWidth":10,"columnAdjacentCount":3} -->
<div class="wp-block-stackable-column stk-block-column stk-column stk-block stk-7243506" data-v="4" data-block-id="7243506"><style>@media screen and (min-width: 768px){.stk-7243506 {flex:var(--stk-flex-grow, 1) 1 calc(10% - var(--stk-column-gap, 0px) * 2 / 3 ) !important;}}</style><div class="stk-column-wrapper stk-block-column__content stk-container stk-7243506-container stk--no-background stk--no-padding"><div class="stk-block-content stk-inner-blocks stk-7243506-inner-blocks"></div></div></div>
<!-- /wp:stackable/column -->

<!-- wp:stackable/column {"uniqueId":"6a79508","columnWidth":80,"columnAdjacentCount":3} -->
<div class="wp-block-stackable-column stk-block-column stk-column stk-block stk-6a79508" data-v="4" data-block-id="6a79508"><style>@media screen and (min-width: 768px){.stk-6a79508 {flex:var(--stk-flex-grow, 1) 1 calc(80% - var(--stk-column-gap, 0px) * 2 / 3 ) !important;}}</style><div class="stk-column-wrapper stk-block-column__content stk-container stk-6a79508-container stk--no-background stk--no-padding"><div class="stk-block-content stk-inner-blocks stk-6a79508-inner-blocks"><!-- wp:shortcode -->
[platform_search_filter]
<!-- /wp:shortcode --></div></div></div>
<!-- /wp:stackable/column -->

<!-- wp:stackable/column {"uniqueId":"faae119","columnWidth":10,"columnAdjacentCount":3} -->
<div class="wp-block-stackable-column stk-block-column stk-column stk-block stk-faae119" data-v="4" data-block-id="faae119"><style>@media screen and (min-width: 768px){.stk-faae119 {flex:var(--stk-flex-grow, 1) 1 calc(10% - var(--stk-column-gap, 0px) * 2 / 3 ) !important;}}</style><div class="stk-column-wrapper stk-block-column__content stk-container stk-faae119-container stk--no-background stk--no-padding"><div class="stk-block-content stk-inner-blocks stk-faae119-inner-blocks"></div></div></div>
<!-- /wp:stackable/column --></div></div>
<!-- /wp:stackable/columns -->

<!-- wp:shortcode -->
[platform_search_results]
<!-- /wp:shortcode -->

<!-- wp:spacer {"height":"200px"} -->
<div style="height:200px" aria-hidden="true" class="wp-block-spacer"></div>
<!-- /wp:spacer --></main>
<!-- /wp:group -->

<!-- wp:template-part {"slug":"footer"} /-->