<!-- wp:template-part {"slug":"header","area":"header"} /-->

<!-- wp:group {"tagName":"main","layout":{"type":"constrained"}} -->
<main class="wp-block-group">

	<!-- Title (Subtype) -->
	<!-- wp:post-title {"level":1,"align":"wide"} /-->

	<!-- Featured image (optional) -->
	<!-- wp:post-featured-image {"align":"wide"} /-->

	<!-- Content area you can design visually in the Editor -->
	<!-- wp:group {"align":"wide","layout":{"type":"constrained"}} -->
	<div class="wp-block-group">
		<!-- wp:post-content {"align":"wide"} /-->
	</div>
	<!-- /wp:group -->

</main>
<!-- /wp:group -->

<!-- wp:template-part {"slug":"footer","area":"footer"} /-->
